= form_for @event do |f|
  - if @event.errors.any?
    #error_explanation
      %h2= "#{pluralize(@event.errors.count, "error")} prohibited this event from being saved:"
      %ul
        - @event.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :type_of_event
    = f.text_field :type_of_event
  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :location
    = f.text_field :location
  .field
    = f.label :teachers
    = f.text_field :teachers
  .field
    = f.label :performers
    = f.text_field :performers
  .field
    = f.label :start_time
    = f.datetime_select :start_time
  .field
    = f.label :end_time
    = f.datetime_select :end_time
  .actions
  = f.submit 'Save',:class => "btn-treehouse"
  %div.some{ :style => "padding-bottom: 30px;" }
