<%= render 'layouts/navigation' %> 
<div style="padding-top:50px;"> 
    <%= link_to 'Back to all events', events_path, :class => 'btn-treehouse' %>
</div>    
<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <div class="card" style="height: 360px;">
        <div class="card-category"></div>
          <div class="card-description">
            <h2><%= @event.name %></h2>
            <h4 style="color: whitesmoke;"><%= @event.description %></h4>
            <h4 style="color: whitesmoke;"><%= @event.teachers %></h4>
            <h4 style="color: whitesmoke;"><%= @event.performers %></h4>
            <h4 style="color: whitesmoke;"><%= @event.location %></h4>
            <h4 style="color: whitesmoke;"><%= @event.start_time.strftime( '%a %b %e %H:%M ') %></h4>
          </div>
      </div>
    </div>
  </div>
</div>
</div>

<div style="padding-top: 50px">
<%= link_to 'Back to calendar', members_path, :class => 'btn-treehouse' %>
<% if current_user.admin? %>
  <%= link_to 'Edit', edit_event_path(@event), :class => 'btn-treehouse' %>
  <%= link_to 'List all events', events_path, :class => 'btn-treehouse' %>
<% end %>  
</div>