<%= render 'layouts/navigation' %>
<% content_for :title do %>About<% end %>
<div class="about-page">
<h2>About Us</h2>
<p>
Minerva Ballet is a new London based adult ballet company with a fresh,
professional approach. Our teachers have decades of experience as
professional dancers and teachers, having worked with some of the ballet
greats, including Nureyev and Fonteyn. This is a company with artistic
integrity and technical rigour at its heart. As dancers, you will benefit from
exposure to a wide range of repertoire designed to enhance your dancing,
propel your development as artists, and delight audiences. Each dancer will
receive the guidance and coaching required to achieve their best.
If you would like to be involved, please 
<%= mail_to "info@minervaballet.com" do %>
  <strong>get in touch.</strong>
<% end %> 
</p>
<h2>Our Teachers</h2>
<%=image_tag("patrick.jpg", alt: "min.png") %>
<h3>Patrick Hood, Artistic Director.</h3>
<p class="about-page">Patrick is our artistic director and has decades of experience in the professional dance world.  Patrick was a principal dancer with the Vienna Festival Ballet, among others, and is an inexhaustible supply of information and wisdom on partnering and artistry.  

After retiring from professional ballet, Patrick has pursued interests inside and outside the dance world.  He continues to dance professionally. 
</p>
<%=image_tag("Sheila.jpg", alt: "min.png") %>
<h3>Sheila Styles, Ballet Mistress</h3>
<p>Sheila has an international reputation as a dancer, teacher and choreographer.  Her professional ballet journey started at the Royal Ballet School, and this grounding saw her perform as a principal dancer for several companies internationally.  Sheila brings with her a wealth of knowledge and experience having worked with some of the most iconic names in ballet.  As well as being an incomparable technician, she is an inspirational artist and communicator.  As a choreographer, she is intelligent and innovative.  We are delighted that Sheila will be joining us. </p>
<h2>Current Repertoire</h2>
<p>This season we are working on a triple bill.</p>
<p>Les Sylphides is an iconic, non-narrative ballet, choreographed by Mikhail Fokine.  Orchestrated by Glazunov, the piano music of Chopin sets the scene of ethereal beauty and dreams.  Woodland sylphs dance for a young man, the poet, in the moonlight.   This is a stylised and technically demanding ballet, requiring unfaltering corps de ballet discipline, clean lines, and fluid port de bras.  

The “romantic rêverie” we recognise as Les Sylphides was first performed by Diaghilev’s Ballets Russes in the Théâtre du Châtelet in June 1909.  Its soloists were Tamara Karsavina, Vaslav Nijinsky and Anna Pavlova.  The long romantic tutu was designed by Léon Bakst, and inspired by a lithograph of Marie Taglioni as a sylph.</p>
<%=image_tag("dance1.jpg", alt: "min.png") %>
<p> Original set, 1909</p>
<%=image_tag("tamara.jpg", alt: "min.png") %>
<h3>Tamara Karsavina in Les Sylphides</h3>
<p>This work will challenge our dancers and delight our audience, lulling the latter into a beautiful dream.  It will open our triple bill, and serve as a contrast to the next work, Polovtsian Dances.</p>


<p>Polovtsian Dances consists of a series dances from the second act of Borodin’s historical epic opera, Prince Igor.  It is set in the encampment of Khan Kontchak, leader of twelfth century Polovtsian army.  Prince Igor and his son have been captured, and are entertained by the warriors dancing.  
This work demonstrates the versatility, innovation and musicality of Fokine’s choreography.  The Borodin score is as beautiful as it is primal, and conjures up the energy, flamboyance and turbulence of the twelfth century central Asia. 

For our dancers, this will provide a further challenge, and have enlisted the help of a Russian character teaching to ensure a holistic and faithful approach to this work. 

Our final piece is Knots.  This is a collaborative work created by our ballet mistress Sheila and others.  This explores the trials of human relationships.  With a diverse score including Bach, Madness and The Buzzcocks, this is a humorous piece.  Drawing from classical ballet, jazz and contemporary dancing, the choreography is as eclectic as the music.  The juxtaposition of pain and jocularity mirrors the complexity of human nature and interactions.</p>
</div>

<%= render 'layouts/footer' %>