<%= content_for :meta_title, "Gallery | #{DEFAULT_META["meta_title"]}" %>
    <main role="main">
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Minerva Gallery</h1>
          <p class="lead text-muted">Previous perfomances</p>
          <p>
            <a class="btn btn-sm btn-outline-secondary"><%= link_to 'Back to Home page', about_path %></a>          </p>
        </div>
      </section>
      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <div class="card mb-4 box-shadow">
                <%= cl_image_tag("https://res.cloudinary.com/minerva-ballet/image/upload/v1570185193/16.jpg", :width => 300, :crop => "pad")%>
                <%= cl_image_tag("https://res.cloudinary.com/minerva-ballet/image/upload/v1570185193/8a.jpg", :width => 300, :crop => "pad")%>
                <%= cl_image_tag("https://res.cloudinary.com/minerva-ballet/image/upload/v1570185193/12.jpg", :width => 300, :crop => "pad")%>
                <%= cl_image_tag("https://res.cloudinary.com/minerva-ballet/image/upload/v1574778461/image2.jpg", :width => 300, :crop => "pad")%>
                <%= cl_image_tag("https://res.cloudinary.com/minerva-ballet/image/upload/v1574778461/image3.jpg", :width => 300, :crop => "pad")%>
                <%= cl_image_tag("https://res.cloudinary.com/minerva-ballet/image/upload/v1574778461/image1.jpg", :width => 300, :crop => "pad")%>
                <%= cl_image_tag("https://res.cloudinary.com/minerva-ballet/image/upload/v1574778461/image5.jpg", :width => 300, :crop => "pad")%>
                <%= cl_image_tag("https://res.cloudinary.com/minerva-ballet/image/upload/v1574778461/image4.jpg", :width => 300, :crop => "pad")%>
              </div>
            </div>






