<%= render 'layouts/navigation' %>
<% content_for :title do %>Members<% end %>

<div class="container-fluid">
  <div class="row">
    <div class="col-12">


<%= content_for :meta_title, "Members | #{DEFAULT_META["meta_title"]}" %>
<div class='about-page'><p>Welcome to our members’ area.  You will receive an email acknowledging your sign-up.  
Here, you will find rehearsal schedules and cast sheets, as well as documents posted by our artistic director.</p>  
<p>Please read our <%= link_to "guidelines for dancers", guidelines_path, target: :_blank %>
</div>

<div class='about-page'><p>
<%= link_to('A video of our last performance which included The Four Seasons.',"https://www.youtube.com/watch?v=hQ3mNHTtGm0", target: :_blank) %></p>
</div>

<div style='padding-bottom: 50px;'>
<% if user_signed_in? %>
  <% if current_user.try(:admin?) %>
    <%= link_to 'New Event', new_event_path, class: 'btn-treehouse'%>
     <%= link_to 'List all events', events_path, :class => 'btn-treehouse' %>
  <% end %>
<% end %>
</div>

<div>
<%= month_calendar events: @events do |date, events| %>
  <%= date.to_formatted_s(:short) %>
  <% events.each do |event| %>
    <div class='cal-card'> 
      <div class="mobile-hide">
        <%= event.name  %><br>
        <%= event.start_time.strftime('%H:%M')%> - <%= event.end_time.strftime('%H:%M')  %>
      </div>
      <% if current_user %>
          <%= link_to "", event_path(event), class: "card-link"%>
      <% end %>
    </div>
  <% end %>
<% end %>
</div>

    </div>
  </div>
</div>