<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Mukta" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <%= favicon_link_tag asset_path('min.png'), :rel => 'icon', :type => "image/x-icon" %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> <%= meta_title %> </title>

  <%# <meta name="description" content="#{meta_description}"/> %>
  <meta name="description" content="Minerva Ballet is a new London based amateur adult ballet company with a fresh, professional approach. At Minerva Ballet we aim to bring our dancers from the studio to the stage. As adult dance students, you will have been taught ballet technique, you may even have become accustomed to a particular method or teacher. What none of this prepares you for is performance." />

<meta property="og:title" content="#{meta_title}"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="#{request.original_url}"/>
<meta property="og:image" content="#{meta_image}"/>
<meta property="og:description" content="#{meta_description}"/>
<meta property="og:site_name" content="#{meta_title}"/>


<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:site" content="#{DEFAULT_META["twitter_account"]}"/>
<meta name="twitter:title" content="#{meta_title}"/>
<meta name="twitter:description" content="#{meta_description}"/>
<meta name="twitter:creator" content="#{DEFAULT_META["twitter_account"]}"/>
<meta name="twitter:image:src" content="#{meta_image}"/>


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'true' %>
    <%# Modernizr is required for Zurb Foundation %>
    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'true' %>
    <%= cloudinary_js_config %>
    <%= csrf_meta_tags %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-132051209-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-132051209-1');
</script>

  </head>
  <body>
    <header>
      <%# <%= render 'layouts/navigation' %> 
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
  </body>
</html>
